<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodsproject.mapper.PayDetailMapper">
    <sql id="Base_Column_List">
    id, order_id, description, type, ip, status, money, return_url, source, user_id, 
    out_trade_no,create_dt,update_dt,pay_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultType="com.goodsproject.model.PayDetail">
        select
        <include refid="Base_Column_List"/>
        from pay_detail
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pay_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.goodsproject.model.PayDetail">
    insert into pay_detail (id, order_id, description, 
      type, ip, status, money, 
      return_url, source, user_id, 
      out_trade_no,create_dt,update_dt,pay_time,transaction_id)
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{ip,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{money,jdbcType=DECIMAL}, 
      #{returnUrl,jdbcType=VARCHAR}, #{source,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{outTradeNo,jdbcType=VARCHAR},#{createDt},#{updateDt},#{payTime},#{transactionId})
  </insert>
    <insert id="insertSelective" parameterType="com.goodsproject.model.PayDetail">
        insert into pay_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="money != null">
                money,
            </if>
            <if test="returnUrl != null">
                return_url,
            </if>
            <if test="source != null">
                source,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="outTradeNo != null">
                out_trade_no,
            </if>
            <if test="createDt != null">
                create_dt,
            </if>
            <if test="updateDt != null">
                update_dt,
            </if>
            <if test="payTime != null">
                pay_time,
            </if>
            <if test="transactionId!=null">
                transaction_id,
            </if>
            <if test="openId!=null">
                open_id
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="ip != null">
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="money != null">
                #{money,jdbcType=DECIMAL},
            </if>
            <if test="returnUrl != null">
                #{returnUrl,jdbcType=VARCHAR},
            </if>
            <if test="source != null">
                #{source,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="outTradeNo != null">
                #{outTradeNo,jdbcType=VARCHAR},
            </if>
            <if test="createDt != null">
                #{createDt},
            </if>
            <if test="updateDt != null">
                #{updateDt},
            </if>
            <if test="payTime != null">
                #{payTime},
            </if>
            <if test="transactionId!=null">
                #{transactionId},
            </if>
            <if test="openId!=null">
                #{openId}
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.goodsproject.model.PayDetail">
        update pay_detail
        <set>
            <if test="orderId != null">
                order_id = #{orderId,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="ip != null">
                ip = #{ip,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="money != null">
                money = #{money,jdbcType=DECIMAL},
            </if>
            <if test="returnUrl != null">
                return_url = #{returnUrl,jdbcType=VARCHAR},
            </if>
            <if test="source != null">
                source = #{source,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="outTradeNo != null">
                out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
            </if>
            <if test="createDt != null">
                create_dt=#{createDt},
            </if>
            <if test="updateDt != null">
                update_dt=#{updateDt},
            </if>
            <if test="payTime != null">
                pay_time=#{payTime},
            </if>
            <if test="openId!=null">
                open_id=#{openId},
            </if>
            <if test="transactionId!=null">
                transaction_id=#{transactionId},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.goodsproject.model.PayDetail">
    update pay_detail
    set order_id = #{orderId,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      ip = #{ip,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      money = #{money,jdbcType=DECIMAL},
      return_url = #{returnUrl,jdbcType=VARCHAR},
      source = #{source,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      create_dt=#{createDt},
      update_dt=#{updateDt},
      pay_time=#{payTime},
      transaction_id=#{transactionId},
      open_id=#{openId}
    where id = #{id,jdbcType=BIGINT}
  </update>


    <insert id="insertAndGetId" useGeneratedKeys="true" keyProperty="userId"
            parameterType="com.goodsproject.model.PayDetail">
        insert into pay_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="money != null">
                money,
            </if>
            <if test="returnUrl != null">
                return_url,
            </if>
            <if test="source != null">
                source,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="outTradeNo != null">
                out_trade_no,
            </if>
            <if test="createDt != null">
                create_dt,
            </if>
            <if test="updateDt != null">
                update_dt,
            </if>
            <if test="payTime != null">
                pay_time,
            </if>
            <if test="transactionId!=null">
                transaction_id,
            </if>
            <if test="openId!=null">
                open_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="ip != null">
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="money != null">
                #{money,jdbcType=DECIMAL},
            </if>
            <if test="returnUrl != null">
                #{returnUrl,jdbcType=VARCHAR},
            </if>
            <if test="source != null">
                #{source,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="outTradeNo != null">
                #{outTradeNo,jdbcType=VARCHAR},
            </if>
            <if test="createDt != null">
                #{createDt},
            </if>
            <if test="updateDt != null">
                #{updateDt},
            </if>
            <if test="payTime != null">
                #{payTime},
            </if>
            <if test="transactionId!=null">
                #{transactionId},
            </if>
            <if test="openId!=null">
                #{openId},
            </if>
        </trim>
    </insert>


    <update id="updateByoutTradeNo" parameterType="com.goodsproject.model.PayDetail">
        update pay_detail
        <set>
            <if test="orderId != null">
                order_id = #{orderId,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="ip != null">
                ip = #{ip,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="money != null">
                money = #{money,jdbcType=DECIMAL},
            </if>
            <if test="returnUrl != null">
                return_url = #{returnUrl,jdbcType=VARCHAR},
            </if>
            <if test="source != null">
                source = #{source,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="createDt != null">
                create_dt=#{createDt},
            </if>
            <if test="updateDt != null">
                update_dt=#{updateDt},
            </if>
            <if test="payTime != null">
                pay_time=#{payTime},
            </if>
            <if test="openId!=null">
                open_id=#{openId},
            </if>
            <if test="transactionId!=null">
                transaction_id=#{transactionId},
            </if>
        </set>
        where out_trade_no =#{outTradeNo,jdbcType=VARCHAR}
    </update>
</mapper>